@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Roboto&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: rgb(39, 39, 39);
    font-family: 'Roboto', sans-serif;
}
.hide {
    display: none;
}
header {
    margin: 0 50px 15px 50px;
    color: white;
    background: rgb(27, 27, 27);
    text-align: center;
    padding: 15px;
}
/* .App {

} */
.artBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    user-select: none;
}
.imageColumn {
    width: 350px;
}
.actions {
    position: absolute;
    font-family: 'Baloo Chettan 2', cursive;
    background: #00000085;
    color: white;
    width: 100%;
    border-radius: 0 0px 7px 7px;
    text-align: center;
    padding: 5px;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
}
.actions span{
    padding: 5px;
}
.imgDwl {
    text-decoration: none;
    color:white;
    padding: 5px 15px;
    background: rgba(0, 128, 0, 0.50);
    border-radius: 10px;
    cursor: pointer;
}
span.details {
    cursor: pointer;
    color: white;
    padding: 5px 15px;
    background: rgba(154, 143, 13, 0.5);
    border-radius: 10px;
    cursor: pointer;
}

.showDetails {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 100%;
    font-family: 'Baloo Chettan 2', cursive;
    background: #00000085;
    height: 100px;
    width: 160px;
    text-align: left;
    padding: 0 5px;
    border-radius: 5px 5px 0px 0px;
}
.imgContainer {
    display: flex;
    margin: 5px;
    border-radius: 6px;
    height: fit-content;
    box-shadow: 0 0 5px 0px #1b1b1b;
    transition: all 500ms;
    position: relative;
}
.imgContainer img{
    border-radius: 7px;
    width: 340px;
    height: auto;
}